# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.production

# Vercel
.vercel

# Netlify
.netlify
netlify-env-variables.txt

# Git
.git
.gitignore

# Documentation
*.md
docs/

# IDE
.vscode
.idea
*.swp
*.swo

# Certbot
certbot/

# Logs
logs/
*.log

# Backups
backup_*

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
